body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff0f5;
  color: #333;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #d81b60;
  margin-bottom: 30px;
}

.contenedor-malla {
  display: flex;
  flex-wrap: nowrap; 
  overflow-x: auto;
  gap: 20px;
  padding: 10px;
}

.nivel {
  background: #ffd6e8;
  border: 2px solid #ad1457;
  border-radius: 12px;
  padding: 15px;
  width: 290px;
  min-width: 290px;
  flex-shrink: 0;
  box-shadow: 1px 1px 2px #8e024b;
  transition: transform 0.2s;
  
}

.nivel h2 {
  text-align: center;
  color: #ad1457;
  margin-bottom: 10px;
}

.ramo {
  background-color: #f3a0bc;
  border: 2px solid #ad1457;
  margin: 5px 0;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  transition: 0.3s ease;
  font-weight: bold;
  box-shadow: 1px 1px 2px #8e024b;
  color: #ad1457;
  
}

.ramo.bloqueado {
  background-color: #f2c9d7;
  opacity: 0.5;
  cursor: not-allowed;
} 

.ramo.aprobado {
  background-color:  #d1b3f0;
  border: 2px solid #6a1b9a;
  color: #6a1b9a;
  text-decoration: line-through;
  font-style: italic;
  box-shadow: 1px 1px 2px #5f028e;
}

.ramo:not(.bloqueado):hover {
  background-color: #f3a0bc;
}
.titulo {
  text-align: center;
  color: #d81b60;
  font-size: 2.2rem;
  margin-top: 40px;
  margin-bottom: 20px;
}
