body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff0f5;
  color: #333;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #d81b60;
  margin-bottom: 30px;
}

.contenedor-malla {
  display: flex;
  flex-wrap: nowrap; 
  overflow-x: auto;
  gap: 20px;
  padding: 10px;
}

.nivel {
  background: #ffd6e8;
  border: 2px solid #ad1457;
  border-radius: 12px;
  padding: 15px;
  width: 320px;
  min-width: 320px;
  flex-shrink: 0;
  box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  
}

.nivel h2 {
  text-align: center;
  color: #ad1457;
  margin-bottom: 10px;
}

.ramo {
  background-color: #f8bbd0;
  margin: 5px 0;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  transition: 0.3s ease;
  font-weight: bold;
}

.ramo.bloqueado {
  background-color: #f2c9d7;
  opacity: 0.5;
  cursor: not-allowed;
} 

.ramo.aprobado {
  background-color: #e9c7ff;
  color: white;
  text-decoration: line-through;
}

.ramo:not(.bloqueado):hover {
  background-color: #f48fb1;
}
.titulo {
  text-align: center;
  color: #d81b60;
  font-size: 2.2rem;
  margin-top: 40px;
  margin-bottom: 20px;
}
